// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Helvetica');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.custom-bottom {
    margin-bottom:15px;
}

.custom-bottom-lg {
    margin-bottom:50px;
}

.custom-top {
    margin-top:15px;
}

.custom-right {
    margin-right:15px;
}

.custom-left {
    margin-left:15px;
}

.zero-bottom {
    margin-bottom:0px;
}

.zero-top {
    margin-top:0px;
}

.zero-right {
    margin-right:0px;
}

.zero-left {
    margin-left:0px;
}

.font-grey {
    color: rgb(80, 80, 80);
}

.helvetica {
    font-family: 'Helvetica', "Montserrat", 'Nunito', sans-serif;
}

.bigger-font {
    font-size: 110%;
}

.avatar-user {
    width: 128px;
    height: 128px;
}

.grid.container {
    margin-top: 5em;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
